.d-flex {
  display: flex;
  flex-direction: row;
}
.aline-c{
    align-items: center;
}
/* padding + margin */
.p-20 {
  padding: 20px;
}
.p-10{
    padding: 10px;
}
.m-margin {
  margin: 20px;
}
.mt-0{
margin-top: 0;
}
.mr-10{
    margin-right: 10px;
}
/* padding + margin */
/* colors */
.bg-white {
  background-color: white;
}
/* End colors */
/* border */
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End border  */
/* text */
.txt-c {
  text-align: center;
}
.fs-14{
    font-size: 14px;
}

/* End text */
/* postion */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/*End postion */
