:root {
  --blue-color:#0075ff;
  --blue-alt-color:#0d96d5;
  --orange-color:#f59e0b;
  --green-color:#22c55e;
  --red-color:#f44336;
  --gray-color: #888;
}
/* start componant */
.bettwen-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* End componant */

.d-flex {
  display: flex;
  flex-direction: row;
}
.aline-c{
    align-items: center;
}
.w-full{
  width: 100%;
}
/* padding + margin */
.p-20 {
  padding: 20px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.m-margin {
  margin: 20px;
}
.mt-0{
margin-top: 0;
}
.mr-10{
    margin-right: 10px;
}
/* padding + margin */
/* colors */
.bg-white {
  background-color: white;
}
/* End colors */
/* border */
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* End border  */
/* text */
.txt-c {
  text-align: center;
}
.fs-14{
    font-size: 14px;
}

/* End text */
/* postion */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/*End postion */
